# Maven
target/
.mvn/

# IDE
.vscode/
.idea/
*.iml

# Kompilierte Klassen
bin/
*.class

# Logs
*.log

# Alte Libs
lib/

# System
.DS_Store
Thumbs.db

# Maven Wrapper (optional, kann auch mit committed werden)
#.mvn/wrapper/maven-wrapper.properties